/**
    Typograpy
*/
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Open+Sans+Condensed:wght@300;700&family=Yanone+Kaffeesatz:wght@200;400&family=Zen+Loop&family=Zen+Tokyo+Zoo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}
li{
  list-style: none;  
}
a:hover{
    color: red;
}
/* font-family: 'Festive', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Zen Loop', cursive;
font-family: 'Zen Tokyo Zoo', cursive; */

body{
    font-family: 'Open Sans Condensed', sans-serif;
}

.m-1{
    margin: 10px;
}
.m-2{
    margin: 20px;
}
.m-3{
    margin: 25px;
}
.m-4{
    margin: 30px;
}
.m-5{
    margin: 40px;
}

.inline--block{
    display: inline-block;
}

.p-fixed{
    position: fixed;
}

/*
End Typograpy
*/

.demo p:not(:nth-child(6)){
    color: lightblue;
    background-color: blue;
    font-size: 25px;
}

/* 
Static
Relative
Absolute
Fixed
sticky
*/

.pstn{
    width: 300px;
    height: 300px;
    background-color: #ff0000;
    margin: 50px;
    position: relative;
    top: 50px;
}
.child{
    width: 200px;
    height: 200px;
    background-color: #3413c5;
    position: absolute;
    top: 50px;
    left: 20px;
}
.fxd{
    width: 100px;
    height: 100px;
    background-color: #0ebb1d;
    border: 5px solid #ff0000;
    border-radius: 10px 30px 50px;
    top: 500px;
}
.fxd2{
    width: 100px;
    height: 100px;
    background-color: #1104c5;
    border: 5px solid #ff0000;
    border-radius: 10px 30px;
    top: 300px;
}



.test{
    position: sticky;
    top: 0px;
    color: red;
    background-color: #ffff00;
}