h2{
    color:blue;
}
.comilla{
    color: red;
}

.fsize30{
    font-size:30px;
}


.fs10{
    font-size: 10px;
}

.khulna{
    color:blue;
    font-size:20px;
}

#demo{
    color:seagreen;
}


.test1, .test2{
    background-color: #000;
    color: #fff;
}

.test1{
    margin: 20px;
}
.test2{
    font-size: 50px;
}