/**
    Typograpy
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.parent .demo{
    width: 300px;
    margin: 50px;
}

.parent .demo p{
    padding: 20px;
    background-color: rgb(189, 8, 8);
    color: white;
    font-weight: bold;
    text-align: justify;
}


/* Float  */

.test{

}

.test .left{
    float: left;
    width: 30%;
}
.test .left ul{}
.test .left ul li{ }
.test .right{
    width: 70%;
    float:right;
}