/**
    Typograpy
*/
*{
    margin: 0;
    padding: 0;
}
.red {
    color: rgb(24, 194, 66);  
}

/*
Typograpy End
*/

.para {
    color: green;
}

.para {
    color: yellow;
}


.parent>.child>.grand-child>p {
    color: red;
}

.header .support .para {
    color: blue;
}
/* Footer Css Start  */
.footer .support .para {
    color: purple;
}

.footer .support1 .para1 {
    color: purple;
}

.footer .support2 .para2 {
    color: purple;
}

.footer .demo2>.abc {
    color: salmon;
}

/* Footer CSS End  */